{% extends 'core/base_admin_page.html' %}
{% load static %}


{% block content %}
    <div class="content-wrapper">
        <button class="btn-link" data-widget="pushmenu" href="#" role="button">
            <i class="fas fa-bars"></i> Menu
        </button>
        <section class="content">
            {% if page == home %}
                <form class="card" method="post" action="{% url 'user:edit_pages' name_page=home %}">
                    <div class="form-group m-5 mt-2 mb-2">
                        {% csrf_token %}

                        <h6>HOME</h6>
                        {{ home_form.as_p }}

                        <hr>

                        <h6>SEO</h6>
                        {{ home_seo_form.as_p }}
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                </form>

            {% elif page == about_cinema %}
                <form class="card" method="post" action="{% url 'user:edit_pages' name_page=about_cinema %}"
                      enctype="multipart/form-data">
                    <div class="form-group m-5 mt-2 mb-2">
                        {% csrf_token %}
                        <h6>ABOUT CINEMA</h6>
                        {{ about_cinema_form.as_p }}

                        <h6>Photos</h6>
                        {{ photo_form_set.management_form }}
                        <div id="existing-photos">
                            {% for form in photo_form_set %}
                                <div class="photo-form">
                                    {{ form.id }}
                                    {{ form.photo }}
                                    {{ form.DELETE }}
                                    {% if form.instance.photo %}
                                        <img src="{{ form.instance.photo.url }}" alt="Photo"
                                             data-id="{{ form.instance.id }}">
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Блок для додавання нових фотографій -->
                        <div id="new-photos"></div>
                        <button type="button" id="add-photo">Add Photo</button>
                        <hr>
                        <h6>SEO</h6>
                        {{ about_cinema_seo_form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                </form>

            {% elif page == cafe_bar %}
                <form class="card" method="post" action="{% url 'user:edit_pages' name_page=cafe_bar %}">
                    <div class="form-group m-5 mt-2 mb-2">
                        {% csrf_token %}
                        <h6>CAFE BAR</h6>
                        {{ cafe_bar_form.as_p }}

                        <h6>Photos</h6>
                        {% for form in photo_form_set %}
                            <div class="photo-form">
                                {{ form.id }}
                                {{ form.photo }}
                                {{ form.DELETE }}
                            </div>
                        {% endfor %}
                        <hr>
                        <h6>SEO</h6>
                        {{ cafe_bar_seo_form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                </form>

            {% elif page == vip_hall %}
                <form class="card" method="post" action="{% url 'user:edit_pages' name_page=vip_hall %}">
                    <div class="form-group m-5 mt-2 mb-2">
                        {% csrf_token %}
                        <h6>VIP HALL</h6>
                        {{ vip_hall_form.as_p }}

                        <h6>Photos</h6>
                        {% for form in photo_form_set %}
                            <div class="photo-form">
                                {{ form.id }}
                                {{ form.photo }}
                                {{ form.DELETE }}
                            </div>
                        {% endfor %}
                        <hr>
                        <h6>SEO</h6>
                        {{ vip_hall_seo_form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                </form>

            {% elif page == advertise %}
                <h3 class="text-center">ADVERTISE</h3>
                <style>
                    .hidden {
                        display: none;
                    }
                </style>
                <form class="card" method="post" action="{% url 'user:edit_pages' name_page=advertise %}"
                      enctype="multipart/form-data">
                    <div class="form-group ml-5 mr-5 mt-5 mb-2">
                        {% csrf_token %}

                        <!-- Name Page -->
                        <div class="form-group">
                            <label for="name_page">{{ advertise_form.name_page.label }}</label>
                            <input type="text" class="form-control" id="name_page"
                                   value="{{ advertise_form.instance.name_page }}"
                                   placeholder="{{ advertise_form.fields.name_page.widget.attrs.placeholder }}">
                        </div>
                        <!-- End Name Page -->

                        <div class="form-group">
                            <div class="row">
                                <div class="col-8">
                                    <!-- Description Page -->
                                    <label for="description_page">{{ advertise_form.description.label }}</label>
                                    <textarea class="form-control" id="description_page"
                                              placeholder="{{ advertise_form.fields.description.widget.attrs.placeholder }}"
                                              rows="{{ advertise_form.fields.description.widget.attrs.rows }}">{{ advertise_form.instance.description }}</textarea>
                                    <!-- End Description Page -->
                                </div>
                                <div class="col-4">
                                    <!-- Image Page -->
                                    <label>{{ advertise_form.main_photo.label }}</label>
                                    <div class="card mb-3 align-self-center" style="max-height: inherit">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <img class="img-fluid rounded-start" id="photo"
                                                     src="{{ advertise_form.instance.main_photo.url }}"
                                                     style="width: inherit; height: inherit">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    {% if advertise_form.instance.main_photo %}
                                                        <input type="file" class="custom-file-input" name="main_photo"
                                                               accept="image/*"
                                                               id="main_photo" style="display: none;">
                                                        <button type="button"
                                                                class="btn btn-dark file-upload btn-block"
                                                                id="upload_main_photo"> Upload
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-danger delete-photo btn-block"
                                                                id="delete_main_photo"> Delete
                                                        </button>
                                                    {% else %}
                                                        <input type="file" class="custom-file-input" name="main_photo"
                                                               accept="image/*"
                                                               id="main_photo" style="display: none;">
                                                        <button type="button"
                                                                class="btn btn-app file-upload"
                                                                id="upload_main_photo"> Upload
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Image Page -->
                            </div>
                        </div>

                        <!-- Gallery Page -->
                        <div class="form-group">
                            {{ formset.management_form }}
                            <label>Photos</label>
                            <div id="ingredient-form-list" class="row">
                                {% for form in formset %}

                                    <!-- Card Photo -->
                                    <div class="ingredient-form col-3">

                                        <div class="card" style="height: 20em; width: auto">

                                            <!-- Image Element -->
                                            <img class="img-responsive align-self-center mt-4"
                                                 src="{{ form.instance.photo.url }}" alt="Photo"
                                                 style="height: 50%; width: 40%;">

                                            <div class="card-body">
                                                <!-- Upload Element -->
                                                <input class="custom-file-input"
                                                       type="file"
                                                       name="form-{{ forloop.counter }}-photo"
                                                       accept="image/*"
                                                       id="id_form-{{ forloop.counter }}-photo"
                                                       style="display: none">
                                                <button type="button"
                                                        class="btn btn-dark file-upload btn-block m-1"
                                                        id="upload_{{ forloop.counter }}"
                                                        data-input="id_form-{{ forloop.counter }}-photo"> Upload
                                                </button>

                                                <!-- Delete Element -->
                                                {% if form.instance.id %}
                                                    <button type="button"
                                                            class="btn btn-danger delete-photo btn-block m-1"
                                                            data-id="{{ form.instance.id }}"> Delete
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- End Card -->

                                        {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                            </div>
                                            <div class="row">
                                        {% endif %}
                                        </div>
                                {% endfor %}
                            </div>
                            <button type="button"
                                    class="btn btn-primary  btn-block m-1"
                                    id="add-photo"> Add Photo
                            </button>
                        </div>
                        <!-- End Gallery Page -->

                        <!-- Empty Form for Gallery -->
                        <div id="empty-form" class="hidden">
                            <div class="card card-body"
                                 style="height: 20em; width: inherit; display: inline-block;">

                                <!-- Image Element -->
                                <img class="card-img" id="id_image_upload">

                                <!-- Upload Element -->
                                <input class="custom-file-input"
                                       type="file"
                                       name="photo"
                                       accept="image/*"
                                       id="id_input_upload"
                                       style="display: none">
                                <button type="button"
                                        class="btn btn-dark file-upload btn-block m-1"
                                        id="id_button_upload"
                                        data-input="id_input_upload"> Upload
                                </button>

                                <!-- Delete Element -->
                                {% if formset.empty_form.photo.id %}
                                    <button type="button"
                                            class="btn btn-danger delete-photo"
                                            data-id="{{ formset.empty_form.photo.id }}"> Delete
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- End Empty Form for Gallery -->
                    <hr>

                    <!-- Seo Form Group -->
                    <div class="form-group ml-5 mr-5 mt-2 mb-2">
                        <h3 class="text-center">SEO</h3>

                        <!-- Url Seo -->
                        <div class="form-group">
                            <label for="url_seo">{{ advertise_seo_form.url_seo.label }}</label>
                            <input type="text" class="form-control" id="url_seo"
                                   value="{{ advertise_seo_form.instance.url_seo }}"
                                   placeholder="{{ advertise_seo_form.fields.url_seo.widget.attrs.placeholder }}">
                        </div>
                        <!-- End Url Seo -->

                        <!-- Title Seo -->
                        <div class="form-group">
                            <label for="title_seo">{{ advertise_seo_form.title_seo.label }}</label>
                            <input type="text" class="form-control" id="title_seo"
                                   value="{{ advertise_seo_form.instance.title_seo }}"
                                   placeholder="{{ advertise_seo_form.fields.title_seo.widget.attrs.placeholder }}">
                        </div>
                        <!-- End Title Seo -->

                        <!-- Keywords Seo -->
                        <div class="form-group">
                            <label for="keywords_seo">{{ advertise_seo_form.keywords_seo.label }}</label>
                            <input type="text" class="form-control" id="keywords_seo"
                                   value="{{ advertise_seo_form.instance.keywords_seo }}"
                                   placeholder="{{ advertise_seo_form.fields.keywords_seo.widget.attrs.placeholder }}">
                        </div>
                        <!-- End Keywords Seo -->

                        <!-- Description Page -->
                        <div class="form-group">
                            <label for="description_seo">{{ advertise_seo_form.description_seo.label }}</label>
                            <textarea class="form-control" id="description_seo"
                                      placeholder="{{ advertise_seo_form.fields.description_seo.widget.attrs.placeholder }}"
                                      rows="{{ advertise_seo_form.fields.description_seo.widget.attrs.rows }}">{{ advertise_seo_form.instance.description_seo }}</textarea>
                        </div>
                        <!-- End Description Page -->

                    </div>
                    <!-- End Seo Form Group -->

                    <button type="submit" class="btn btn-success btn-block">Save Changes</button>
                </form>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {

                        // Upload main_photo
                        const upload_main_photo = document.getElementById('upload_main_photo')
                        const delete_main_photo = document.getElementById('delete_main_photo')
                        const main_photo_input = document.getElementById('main_photo')
                        const img = document.getElementById('photo')

                        upload_main_photo.addEventListener("click", function () {
                            console.log('click upload button')
                            main_photo_input.click();
                        });

                        main_photo_input.addEventListener("change", function () {
                            const selectedFile = main_photo_input.files[0];

                            if (selectedFile) {
                                console.log('upload main photo:', selectedFile);
                                img.setAttribute('src', URL.createObjectURL(selectedFile));
                            }
                        });

                        delete_main_photo.addEventListener("click", function () {
                            console.log('delete main photo')
                        });
                        // End Upload main_photo


                        // Add new photo to gallery
                        const addPhotoButton = document.getElementById('add-photo')
                        const totalFormsInput = document.getElementById('id_form-TOTAL_FORMS');

                        addPhotoButton.addEventListener("click", function (event) {
                            console.log('click addButton')

                            // Get current Form
                            const currentIngredientForm = document.getElementsByClassName('ingredient-form col-3')
                            let currentFormCount = currentIngredientForm.length + 1

                            // Get Target element
                            const formCopyTarget = document.getElementById('ingredient-form-list')

                            // Copy emptyForm
                            const emptyForm = document.getElementById('empty-form').cloneNode(true)
                            console.log('emptyForm: ', emptyForm)

                            // Set attribute to copy emptyForm
                            emptyForm.setAttribute('class', 'ingredient-form col-3')
                            emptyForm.setAttribute('id', `empty-form-${currentFormCount}`)


                            // New upload to Gallery
                            const uploadButton = emptyForm.querySelector('#id_button_upload')
                            console.log('uploadButton: ', uploadButton)

                            const uploadInput = emptyForm.querySelector('#id_input_upload')
                            console.log('uploadInput: ', uploadInput)

                            const uploadImage = emptyForm.querySelector('#id_image_upload')
                            console.log('uploadImage: ', uploadImage)

                            uploadButton.addEventListener('click', function () {
                                uploadInput.click()
                                console.log('Click to UploadButton')
                            })

                            uploadInput.addEventListener("change", function () {
                                console.log('Click to UploadImage')
                                const selectedFile = uploadInput.files[0];

                            if (selectedFile) {
                                console.log('Upload photo:', selectedFile);
                                uploadImage.setAttribute('src', URL.createObjectURL(selectedFile));
                            }
                        });

                            {#// Get input with emptyForm#}
                            {#const inputSelector = emptyForm.querySelector('input[type=file]')#}
                            {#console.log(inputSelector)#}
                            {##}
                            {#inputSelector.setAttribute('type', 'file')#}
                            {#inputSelector.setAttribute('name', `from-${currentFormCount}-photo`)#}
                            {#inputSelector.setAttribute('accept', 'image/*')#}
                            {#inputSelector.setAttribute('id', `id_form-${currentFormCount}-photo`)#}
                            {##}
                            {##}
                            {#// Show file in img selector#}
                            {#inputSelector.addEventListener('change', function () {#}
                            {#    const image = event.target.parentNode.querySelector('img')#}
                            {#    const selectedFile = inputSelector.files[0];#}
                            {##}
                            {#    if (selectedFile) {#}
                            {#        console.log('Вибраний файл:', selectedFile);#}
                            {#        image.setAttribute('src', URL.createObjectURL(selectedFile));#}
                            {#    }#}
                            {#});#}

                            const regex = new RegExp('__prefix__', 'g')

                            emptyForm.innerHTML = emptyForm.innerHTML.replace(regex, currentFormCount)

                            totalFormsInput.setAttribute('value', `${currentFormCount + 1}`)

                            // Include copy emptyForm to Target element
                            formCopyTarget.append(emptyForm)
                        })
                    })

                </script>

            {% elif page == children_room %}
                <form class="card" method="post" action="{% url 'user:edit_pages' name_page=children_room %}"
                      enctype="multipart/form-data">
                    <div class="form-group m-5 mt-2 mb-2">
                        {% csrf_token %}
                        <h6>CHILDREN ROOM</h6>
                        {{ children_room_form.as_p }}

                        <h6>PHOTOS</h6>
                        {{ formset.management_form }}
                        <div class="row">
                            {% for form in formset %}
                                <div class="col-3">
                                    <div class="card card-body"
                                         style="height: 25rem; width: inherit; display: inline-block; margin-right: 10px;">
                                        <img class="card-img"
                                             src="{{ form.instance.photo.url }}"
                                             alt="Photo">
                                        <input class="card-input"
                                               type="file"
                                               name="form-{{ forloop.counter }}-photo"
                                               accept="image/*"
                                               id="id_form-{{ forloop.counter }}-photo">
                                        {% if form.instance.id %}
                                            <button type="button"
                                                    class="btn btn-danger delete-photo"
                                                    data-id="{{ form.instance.id }}"> Delete
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                    </div>
                                    <div class="row">
                                {% endif %}
                            {% endfor %}
                            </div>

                        <!-- Додайте кнопку, яка буде додавати нові порожні форми -->
                        <button type="button" class="btn btn-success add" id="add-photo">Add Photo</button>

                        <hr>
                        <h6>SEO</h6>
                        {{ children_room_seo_form.as_p }}
                    </div>
                    <button type="submit" id="change" class="btn btn-primary btn-block">Change</button>
                </form>

            {% elif page == contacts %}
                <form class="card" method="post" action="{% url 'user:edit_pages' name_page=contacts %}">
                    <div class="form-group m-5 mt-2 mb-2">
                        {% csrf_token %}
                        <h6>CONTACTS</h6>
                        {% for form in contacts_formset %}
                            {{ form.as_p }}
                            <hr>
                        {% endfor %}
                        <button type="submit">
                            <a href="{% url 'user:add_contact' name_page=page %}">Add contact</a>
                        </button>
                        <hr>
                        <h6>SEO</h6>
                        {{ contacts_seo_form }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                </form>

            {% else %}
                <form class="card" method="post" action="{% url 'user:edit_pages' name_page=custom %}">
                    <div class="form-group m-5 mt-2 mb-2">
                        {% csrf_token %}
                        <h6>CUSTOM</h6>
                        {{ custom_form.as_p }}
                        <hr>
                        <h6>SEO</h6>
                        {{ custom_seo_form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                </form>
            {% endif %}
            {#    <script>#}
            {#        // Event load page#}
            {#        document.addEventListener("DOMContentLoaded", function () {#}
            {##}
            {#            // Load totalLoadInput#}
            {#            const totalFormsInput = document.getElementById('id_form-TOTAL_FORMS');#}
            {#            let totalForms = parseInt(totalFormsInput.value);#}
            {#            console.log(`Total count: ${totalFormsInput.value}`)#}
            {##}
            {##}
            {#            // Get element addPhoto#}
            {#            const addPhoto = document.getElementById('add-photo')#}
            {#            // Event Listener add photo#}
            {#            addPhoto.addEventListener('click', function () {#}
            {#                totalFormsInput.value = ++totalForms;#}
            {#                console.log(`after create ${totalFormsInput.value}`)#}
            {##}
            {#                // Create newCard#}
            {#                const newCard = document.createElement('div')#}
            {#                newCard.classList.add('col-3')#}
            {##}
            {##}
            {#                const cardContext = document.createElement('div')#}
            {#                cardContext.classList.add('card', 'card-body')#}
            {##}
            {##}
            {#                const input = document.createElement('input')#}
            {##}
            {#                input.setAttribute('type', 'file')#}
            {#                input.setAttribute('name', `from-${totalForms}-photo`)#}
            {#                input.setAttribute('accept', 'image/*')#}
            {#                input.setAttribute('id', `id_form-${totalForms}-photo`)#}
            {##}
            {#                input.addEventListener('change', function () {#}
            {#                    const file = input.files[0];#}
            {#                    if (file) {#}
            {#                        const img = document.createElement('img')#}
            {#                        img.classList.add('card-img')#}
            {#                        img.setAttribute('alt', 'Photo')#}
            {#                        img.setAttribute('src', `${URL.createObjectURL(file)}`);#}
            {#                        cardContext.appendChild(img)#}
            {#                    }#}
            {#                })#}
            {##}
            {##}
            {#                const deleteButton = document.createElement('button')#}
            {#                deleteButton.classList.add('btn', 'btn-danger', 'delete-photo')#}
            {#                deleteButton.textContent = 'Delete'#}
            {##}
            {#                deleteButton.addEventListener('click', function () {#}
            {#                    totalFormsInput.value = --totalForms;#}
            {#                    console.log(`after delete ${totalFormsInput.value}`)#}
            {#                    newCard.remove();#}
            {#                })#}
            {##}
            {##}
            {#                cardContext.appendChild(input)#}
            {#                cardContext.appendChild(deleteButton)#}
            {##}
            {#                newCard.appendChild(cardContext)#}
            {##}
            {#                const container = document.querySelector('.row')#}
            {#                container.appendChild(newCard)#}
            {##}
            {#            })#}
            {#        });#}
            {##}
            {#    </script>#}


            {##}
            {#<script>#}
            {#    // Очікування завантаження DOM#}
            {#    document.addEventListener("DOMContentLoaded", function () {#}
            {#  const existingPhotosDiv = document.getElementById("existing-photos");#}
            {#  const newPhotosDiv = document.getElementById("new-photos");#}
            {#  const addPhotoButton = document.getElementById("add-photo");#}
            {##}
            {#  // Додавання лічильника для ідентифікаторів нових фотографій#}
            {#  let photoCount = {{ photo_form_set|length }};#}
            {##}
            {#  // Додавання нового поля для фотографії#}
            {#  addPhotoButton.addEventListener("click", function () {#}
            {#    const newPhotoDiv = document.createElement("div");#}
            {#    newPhotoDiv.classList.add("photo");#}
            {#    const newPhotoField = document.createElement("input");#}
            {#    newPhotoField.type = "file";#}
            {#    newPhotoField.name = `photos-${photoCount}-id`;#}
            {#    newPhotoField.addEventListener("change", handleFileChange); // Додавання обробника події#}
            {#    newPhotoDiv.appendChild(newPhotoField);#}
            {##}
            {#    const deleteButton = document.createElement("button");#}
            {#    deleteButton.type = "button";#}
            {#    deleteButton.classList.add("delete-photo");#}
            {#    deleteButton.dataset.id = photoCount;#}
            {#    deleteButton.textContent = "Delete";#}
            {#    newPhotoDiv.appendChild(deleteButton);#}
            {##}
            {#    const previewImage = document.createElement("img");#}
            {#    const file = newPhotoField.files[0];#}
            {#    previewImage.classList.add("preview-image");#}
            {#    previewImage.id = `preview-${photoCount}`;#}
            {#    previewImage.src = URL.createObjectURL(file); // Встановлюємо src з використанням URL.createObjectURL#}
            {#    previewImage.style.display = "block"; // Показуємо зображення, якщо воно було приховано#}
            {#    newPhotoDiv.appendChild(previewImage);  // Додаємо тег <img> до блоку#}
            {##}
            {#    newPhotosDiv.appendChild(newPhotoDiv);#}
            {#    photoCount++;#}
            {#  });#}
            {##}
            {#// Оновлення зображення в елементі <img> при виборі файлу#}
            {#  function handleFileChange(event) {#}
            {#    if (event.target && event.target.type === "file") {#}
            {#      const fileInput = event.target;#}
            {#      const fileId = fileInput.dataset.id;#}
            {#      const previewImage = document.getElementById(`preview-${fileId}`);#}
            {##}
            {#      // Prevent navigating to the file path#}
            {#      fileInput.value = "";#}
            {#    }#}
            {#  }#}
            {##}
            {##}
            {#  // Видалення фотографії (як наявної, так і нової)#}
            {#  document.addEventListener("click", function (event) {#}
            {#    if (event.target.classList.contains("delete-photo")) {#}
            {#      const photoDiv = event.target.closest(".photo");#}
            {#      photoDiv.remove();#}
            {#    }#}
            {#  });#}
            {##}
            {#</script>#}
        </section>
    </div>
{% endblock content %}