{% extends 'core/base_admin_page.html' %}
{% load static %}


{% block section %}
        <section class="content">
            {% if page == home %}
                <form class="card" method="post" action="{% url 'user:edit_pages' name_page=home %}">
                    <div class="form-group m-5 mt-2 mb-2">
                        {% csrf_token %}

                        <h6>HOME</h6>
                        {{ home_form.as_p }}

                        <hr>

                        <h6>SEO</h6>
                        {{ home_seo_form.as_p }}
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                </form>

            {% elif page == about_cinema %}
                <form class="card" method="post" action="{% url 'user:edit_pages' name_page=about_cinema %}"
                      enctype="multipart/form-data">
                    <div class="form-group m-5 mt-2 mb-2">
                        {% csrf_token %}
                        <h6>ABOUT CINEMA</h6>
                        {{ about_cinema_form.as_p }}

                        <h6>Photos</h6>
                        {{ photo_form_set.management_form }}
                        <div id="existing-photos">
                            {% for form in photo_form_set %}
                                <div class="photo-form">
                                    {{ form.id }}
                                    {{ form.photo }}
                                    {{ form.DELETE }}
                                    {% if form.instance.photo %}
                                        <img src="{{ form.instance.photo.url }}" alt="Photo"
                                             data-id="{{ form.instance.id }}">
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Блок для додавання нових фотографій -->
                        <div id="new-photos"></div>
                        <button type="button" id="add-photo">Add Photo</button>
                        <hr>
                        <h6>SEO</h6>
                        {{ about_cinema_seo_form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                </form>

            {% elif page == cafe_bar %}
                <form class="card" method="post" action="{% url 'user:edit_pages' name_page=cafe_bar %}">
                    <div class="form-group m-5 mt-2 mb-2">
                        {% csrf_token %}
                        <h6>CAFE BAR</h6>
                        {{ cafe_bar_form.as_p }}

                        <h6>Photos</h6>
                        {% for form in photo_form_set %}
                            <div class="photo-form">
                                {{ form.id }}
                                {{ form.photo }}
                                {{ form.DELETE }}
                            </div>
                        {% endfor %}
                        <hr>
                        <h6>SEO</h6>
                        {{ cafe_bar_seo_form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                </form>

            {% elif page == vip_hall %}
                <form class="card" method="post" action="{% url 'user:edit_pages' name_page=vip_hall %}">
                    <div class="form-group m-5 mt-2 mb-2">
                        {% csrf_token %}
                        <h6>VIP HALL</h6>
                        {{ vip_hall_form.as_p }}

                        <h6>Photos</h6>
                        {% for form in photo_form_set %}
                            <div class="photo-form">
                                {{ form.id }}
                                {{ form.photo }}
                                {{ form.DELETE }}
                            </div>
                        {% endfor %}
                        <hr>
                        <h6>SEO</h6>
                        {{ vip_hall_seo_form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                </form>

            {% elif page == advertise %}
                {% include 'core/advertise.html' %}

            {% elif page == children_room %}
                {% include 'core/children_room.html' %}

            {% elif page == contacts %}
                <form class="card" method="post" action="{% url 'user:edit_pages' name_page=contacts %}">
                    <div class="form-group m-5 mt-2 mb-2">
                        {% csrf_token %}
                        <h6>CONTACTS</h6>
                        {% for form in contacts_formset %}
                            {{ form.as_p }}
                            <hr>
                        {% endfor %}
                        <button type="submit">
                            <a href="{% url 'user:add_contact' name_page=page %}">Add contact</a>
                        </button>
                        <hr>
                        <h6>SEO</h6>
                        {{ contacts_seo_form }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                </form>

            {% else %}
                {% include 'core/custom_page.html' %}
            {% endif %}
            {#    <script>#}
            {#        // Event load page#}
            {#        document.addEventListener("DOMContentLoaded", function () {#}
            {##}
            {#            // Load totalLoadInput#}
            {#            const totalFormsInput = document.getElementById('id_form-TOTAL_FORMS');#}
            {#            let totalForms = parseInt(totalFormsInput.value);#}
            {#            console.log(`Total count: ${totalFormsInput.value}`)#}
            {##}
            {##}
            {#            // Get element addPhoto#}
            {#            const addPhoto = document.getElementById('add-photo')#}
            {#            // Event Listener add photo#}
            {#            addPhoto.addEventListener('click', function () {#}
            {#                totalFormsInput.value = ++totalForms;#}
            {#                console.log(`after create ${totalFormsInput.value}`)#}
            {##}
            {#                // Create newCard#}
            {#                const newCard = document.createElement('div')#}
            {#                newCard.classList.add('col-3')#}
            {##}
            {##}
            {#                const cardContext = document.createElement('div')#}
            {#                cardContext.classList.add('card', 'card-body')#}
            {##}
            {##}
            {#                const input = document.createElement('input')#}
            {##}
            {#                input.setAttribute('type', 'file')#}
            {#                input.setAttribute('name', `from-${totalForms}-photo`)#}
            {#                input.setAttribute('accept', 'image/*')#}
            {#                input.setAttribute('id', `id_form-${totalForms}-photo`)#}
            {##}
            {#                input.addEventListener('change', function () {#}
            {#                    const file = input.files[0];#}
            {#                    if (file) {#}
            {#                        const img = document.createElement('img')#}
            {#                        img.classList.add('card-img')#}
            {#                        img.setAttribute('alt', 'Photo')#}
            {#                        img.setAttribute('src', `${URL.createObjectURL(file)}`);#}
            {#                        cardContext.appendChild(img)#}
            {#                    }#}
            {#                })#}
            {##}
            {##}
            {#                const deleteButton = document.createElement('button')#}
            {#                deleteButton.classList.add('btn', 'btn-danger', 'delete-photo')#}
            {#                deleteButton.textContent = 'Delete'#}
            {##}
            {#                deleteButton.addEventListener('click', function () {#}
            {#                    totalFormsInput.value = --totalForms;#}
            {#                    console.log(`after delete ${totalFormsInput.value}`)#}
            {#                    newCard.remove();#}
            {#                })#}
            {##}
            {##}
            {#                cardContext.appendChild(input)#}
            {#                cardContext.appendChild(deleteButton)#}
            {##}
            {#                newCard.appendChild(cardContext)#}
            {##}
            {#                const container = document.querySelector('.row')#}
            {#                container.appendChild(newCard)#}
            {##}
            {#            })#}
            {#        });#}
            {##}
            {#    </script>#}


            {##}
            {#<script>#}
            {#    // Очікування завантаження DOM#}
            {#    document.addEventListener("DOMContentLoaded", function () {#}
            {#  const existingPhotosDiv = document.getElementById("existing-photos");#}
            {#  const newPhotosDiv = document.getElementById("new-photos");#}
            {#  const addPhotoButton = document.getElementById("add-photo");#}
            {##}
            {#  // Додавання лічильника для ідентифікаторів нових фотографій#}
            {#  let photoCount = {{ photo_form_set|length }};#}
            {##}
            {#  // Додавання нового поля для фотографії#}
            {#  addPhotoButton.addEventListener("click", function () {#}
            {#    const newPhotoDiv = document.createElement("div");#}
            {#    newPhotoDiv.classList.add("photo");#}
            {#    const newPhotoField = document.createElement("input");#}
            {#    newPhotoField.type = "file";#}
            {#    newPhotoField.name = `photos-${photoCount}-id`;#}
            {#    newPhotoField.addEventListener("change", handleFileChange); // Додавання обробника події#}
            {#    newPhotoDiv.appendChild(newPhotoField);#}
            {##}
            {#    const deleteButton = document.createElement("button");#}
            {#    deleteButton.type = "button";#}
            {#    deleteButton.classList.add("delete-photo");#}
            {#    deleteButton.dataset.id = photoCount;#}
            {#    deleteButton.textContent = "Delete";#}
            {#    newPhotoDiv.appendChild(deleteButton);#}
            {##}
            {#    const previewImage = document.createElement("img");#}
            {#    const file = newPhotoField.files[0];#}
            {#    previewImage.classList.add("preview-image");#}
            {#    previewImage.id = `preview-${photoCount}`;#}
            {#    previewImage.src = URL.createObjectURL(file); // Встановлюємо src з використанням URL.createObjectURL#}
            {#    previewImage.style.display = "block"; // Показуємо зображення, якщо воно було приховано#}
            {#    newPhotoDiv.appendChild(previewImage);  // Додаємо тег <img> до блоку#}
            {##}
            {#    newPhotosDiv.appendChild(newPhotoDiv);#}
            {#    photoCount++;#}
            {#  });#}
            {##}
            {#// Оновлення зображення в елементі <img> при виборі файлу#}
            {#  function handleFileChange(event) {#}
            {#    if (event.target && event.target.type === "file") {#}
            {#      const fileInput = event.target;#}
            {#      const fileId = fileInput.dataset.id;#}
            {#      const previewImage = document.getElementById(`preview-${fileId}`);#}
            {##}
            {#      // Prevent navigating to the file path#}
            {#      fileInput.value = "";#}
            {#    }#}
            {#  }#}
            {##}
            {##}
            {#  // Видалення фотографії (як наявної, так і нової)#}
            {#  document.addEventListener("click", function (event) {#}
            {#    if (event.target.classList.contains("delete-photo")) {#}
            {#      const photoDiv = event.target.closest(".photo");#}
            {#      photoDiv.remove();#}
            {#    }#}
            {#  });#}
            {##}
            {#</script>#}
        </section>
{% endblock section %}