<ul class="navbar-nav ms-auto">
    {% for item in nav_bar %}
        {% if not item.list %}
            <li class="nav-item">
                <a href="{% url item.url %}" class="nav-link">
                    {{ item.title }}
                </a>
            </li>
        {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"
                   href="#">{{ item.title }}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for sub_item in item.list %}
                        <a class="dropdown-item" href="{% url sub_item.url %}">{{ sub_item.title }}</a>
                    {% endfor %}
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ul>
