{% for item in nav_bar %}
    {% if item.list %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                {{ item.title }}
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for name, url in item.list.items %}
                    <a class="dropdown-item" href="#">{{ name }}</a>
                {% endfor %}
            </div>
        </li>
    {% else %}
        <li class="nav-item">
            <a href="#" class="nav-link">
                    {{ item.title }}
            </a>
        </li>
    {% endif %}
{% endfor %}