{% extends 'core/base_admin_page.html' %}
{% load static %}


<!-- DataTables -->
<link rel="stylesheet" href="{% static 'core/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'core/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">


{% block section %}
    <h3 class="text-center"> USERS </h3>
    <section class="container">
        {% if users %}
            <table id="example2" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">date joined</th>
                        <th scope="col">birthday</th>
                        <th scope="col">email</th>
                        <th scope="col">phone</th>
                        <th scope="col">full name</th>
                        <th scope="col">gender</th>
                        <th scope="col" id="edit"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.pk }}</td>
                        <td>{{ user.date_joined }}</td>
                        <td>{{ user.birthday }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.gender }}</td>
                        <td><a role="button" class="btn btn-block btn-dark"
                               href="{% url 'user:edit_user' user.pk %}">Edit</a></td>
                        <td><a role="button" class="btn btn-block btn-danger"
                               href="{% url 'user:delete_user' user.pk %}"
                               onclick="return userDelete('{{ user.first_name }}', '{{ user.last_name }}')">Delete
                        </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No user available</p>
        {% endif %}

    </section>

    <!-- Підключення jQuery -->
    <script src="{% static 'core/plugins/jquery/jquery.min.js' %}"></script>

    <!-- DataTables -->
    <script src="{% static 'core/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'core/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'core/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'core/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "columnDefs": [
                    {"orderable": false, "targets": [7, 8]}
                ]
            });
        });

        function userDelete(first_name, last_name) {
            return confirm(`Delete ${first_name} ${last_name}?`)
        }
    </script>

{% endblock section %}