{% extends 'core/base_admin_page.html' %}
{% load static %}

{% block section %}
    <h3 class="text-center">BANNERS</h3>
    <section class="container">
        <form class="card" method="post" action="{% url 'user:banners_admin' %}"
              enctype="multipart/form-data">

            <h3 class="text-center"> HOME BANNER TOP </h3>

            {% csrf_token %}


            <div class="form-group ml-5 mr-5 mt-5 mb-2">
                <label for="speed_banner">{{ home_banner_form.speed_banner.label }}</label>
                <input type="text" class="form-control" id="speed_banner"
                       value="{{ home_banner_form.instance.speed_banner }}"
                       placeholder="{{ home_banner_form.fields.speed_banner.widget.attrs.placeholder }}">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </form>

        <form class="card" method="post" action="{% url 'user:banners_admin' %}"
              enctype="multipart/form-data">

            <h3 class="text-center"> BACKGROUND BANNER </h3>

            {% csrf_token %}


            <div class="form-group ml-5 mr-5 mt-5 mb-2">
                <label>{{ background_banner_form.image_banner.label }}</label>

                <img class="img-fluid rounded-start" id="image"

                     style="width: inherit; height: inherit">

                {% if background_banner_form.instance.image_banner %}
                    <input type="file" class="custom-file-input" name="image_banner"
                           accept="image/*"
                           id="image_banner" style="display: none;">
                    <button type="button"
                            class="btn btn-dark file-upload btn-block"
                            id="upload_photo"> Add
                    </button>
                    <button type="button"
                            class="btn btn-danger delete-photo btn-block"
                            id="delete_photo"> Delete
                    </button>
                {% else %}
                    <input type="file" class="custom-file-input" name="image_banner"
                           accept="image/*"
                           id="image_banner" style="display: none;">
                    <button type="button"
                            class="btn btn-dark file-upload btn-block"
                            id="upload_photo"> Add
                    </button>
                {% endif %}

            </div>

            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </form>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Upload main_photo
            const upload_photo = document.getElementById('upload_photo')
            const delete_photo = document.getElementById('delete_photo')
            const image_banner = document.getElementById('image_banner')
            const img = document.getElementById('image')

            upload_photo.addEventListener("click", function () {
                console.log('click upload button')
                image_banner.click();
            });

            image_banner.addEventListener("change", function () {
                const selectedFile = image_banner.files[0];

                if (selectedFile) {
                    console.log('upload main photo:', selectedFile);
                    img.setAttribute('src', URL.createObjectURL(selectedFile));
                }
            });

            delete_photo.addEventListener('click', function (){
                console.log('Click delete button')
            });
        });
    </script>
{% endblock section %}