{% extends 'core/main_base_page.html' %}
{% load static %}

{% if request.user.is_superuser %}
    <!-- Load menu for admin page -->
    {% load admin_menu_tags %}

    <!-- Block title -->
    <title>{% block title %}Base Admin{% endblock title %}</title>

    <!-- Block menu -->
    {% block menu %}
        <!-- Sidebar -->
        <div class="main-sidebar sidebar-dark-secondary elevation-4">
            <!--Logo -->
            <a href="{% url 'user:statistic_admin' %}" class="brand-link">
                <img src="{% static 'core/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
                     class="brand-image img-circle elevation-3">

                <span class="brand-text font-weight-light">AdminPanel</span>
            </a>


            <!-- Auth  -->
            <div class="user-panel mt-3 pb-3 mb-3 d-block">
                <div class="nav-item text-center">
                    <a href="{% url 'user:profile_admin' %}" class="nav-link">
                        {{ request.user.first_name }}
                    </a>
                </div>
            </div>
            <!-- And Auth -->


            <!-- Sidebar Menu -->
            <div class="sidebar">
                <nav class="mt-2 text-center">
                    <!-- Menu tag -->
                    {% render_menu_items %}
                </nav>
            </div>

            <hr>

            <div class="user-panel mt-3 pb-3 mb-3 d-block">
                <div class="nav-item text-center">
                    <a href="{% url 'user:logout' %}" class="nav-link">
                        LogOut
                    </a>
                </div>
            </div>
        </div>
    {% endblock menu %}
    <!-- And menu-->
{% endif %}

