{% extends 'core/main_base_page.html' %}
<!-- Load static -->
{% load static %}

<link rel="stylesheet" href="{% static 'core/plugins/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href={% static 'core/plugins/flag-icon-css/css/flag-icon.min.css' %}/>
<link rel="stylesheet" href={% static 'core/plugins/flag-icon-css/css/flag-icon.css' %}/>

<!-- Load menu for cinema page -->
{% load cinema_menu_tags %}

<!-- Block title -->
<title>{% block title %}Base User{% endblock title %}</title>

<!-- Block menu -->
{% block menu %}

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand container-fluid navbar-collapse bg-light">

        <div class="row container-fluid">
            <div class="col-2 text-center">

                <!-- Logo -->
                <a href="{% url 'cinema:home_page' %}" class="navbar-brand">Brand</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <!-- Menu Items -->
            <div class="col-8">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Menu tag -->
                    {% nav_bar %}
                </div>
            </div>
            <!-- Authenticated -->
            <div class="col-2 text-center">
                <div class="col-6">
                    {% include 'user/language_choice.html' %}
                </div>
                {% if not request.user.is_authenticated %}
                    <div class="col-6">
                        <div class="nav-item">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="{% url 'cinema:login' %}" class="nav-link">
                                        LogIn
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'cinema:register' %}" class="nav-link">
                                        Register
                                    </a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a href="{% url 'cinema:profile_user' %}" class="nav-link">
                                        {{ request.user.first_name }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'cinema:logout' %}" class="nav-link">
                                        LogOut
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!-- And Authenticated -->
        </div>

    </nav>
    <!-- And Nav Bar  -->

{% endblock menu %}
<!-- And Block menu -->

<!-- Block content -->
{% block content %}{% endblock content %}

<!-- Block footer -->
{% block footer %}{% endblock footer %}