{% extends 'core/main_base_page.html' %}
{% load cinema_menu_tags %}

<!-- Block title -->
<title>{% block title %}Base User{% endblock title %}</title>

<!-- Block menu -->
{% block menu %}
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container text-center">
            <div class="row row-cols-auto">
                <div class="col">
                    <!-- Brand Logo -->
                    <a href="{% url 'base_user' %}" class="navbar-brand">Brand</a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <!-- Menu Items -->
                <div class="col">
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ms-auto">
                            {% nav_bar %}
                        </ul>
                    </div>
                </div>
                <!-- Authenticated -->
                <div class="col">
                    {% if not request.user.is_authenticated %}
                        <div class="nav-item">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a href="{% url 'user:login' %}" class="nav-link">
                                        Увійти
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'user:register' %}" class="nav-link">
                                        Реєстрація
                                    </a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a href="{% url 'user/profile' %}" class="nav-link">
                                        request.user.first_name
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Вийти
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endblock menu %}

<!-- Block content -->
{% block content %}{% endblock content %}

<!-- Block footer -->
{% block footer %}{% endblock footer %}