{% extends 'core/main_base_page.html' %}
{% load static %}
{% load admin_menu_tags %}


<!-- Block title -->
<title>{% block title %}Base Admin{% endblock title %}</title>

<!-- Block menu -->
{% block menu %}
    <!-- Sidebar -->
    <aside class="main-sidebar sidebar-dark-secondary elevation-4">
        <!-- Brand Logo -->
        <a href="{% url 'user:statistic' %}" class="brand-link">
            <img src="{% static 'core/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
                 class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE 3</span>
        </a>

        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                    {% render_menu_items %}
            </nav>

        </div>
    </aside>
{% endblock menu %}

<!-- Block content -->
{% block content %}{% endblock content %}

<!-- Block footer -->
{% block footer %}{% endblock footer %}