{% if request.user.is_superuser %}


{% else %}
    {% include 'core/base_user_page.html' %}
    <div class="container">
        <h2 class="text-center"> NEWS </h2>
        {% if news %}
            <!-- List films -->
            <div class="row">
                {% for new in news %}
                    <div class="col-3">
                        <div class="card"
                             style="height: 25rem; width: inherit; display: inline-block; margin-right: 10px;">
                            <div class="card-body">
                                <a class="card-title"
                                   href="{% url 'cinema:detail_news' new.pk %}">{{ new.name|upper }}</a>
                                <p class="card-text">{{ new.description|slice:250 }}</p>
                                <p class="card-text">{{ new.data_published }}</p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
            <!-- End List films -->
            <!-- If not Check films -->
        {% else %}
            <p>No news available.</p>
        {% endif %}
        <!-- And Check films -->
    </div>
{% endif %}